@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your light theme colors */
:root {
  --color-bg-start: 214, 219, 220; /* start background color */
  --color-bg-end: 255, 255, 255; /* end background color */
  --color-text: 0, 0, 0; /* text color */
  /* Add transition for smooth color change */
  transition: background 0.5s linear, color 0.5s linear;
}

/* Define your dark theme colors */
[data-theme="dark"] {
  --color-bg-start: 0, 0, 0; /* start background color */
  --color-bg-end: 0, 0, 0; /* end background color */
  --color-text: 255, 255, 255; /* text color */
}

body {
  /* Use CSS variables for colors */
  color: rgb(var(--color-text));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-bg-end))
    )
    rgb(var(--color-bg-start));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
