@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
  --color-bg-start: 255, 255, 255; /* start background color */
  --color-bg-step1: 253, 248, 255;
  --color-bg-step2: 251, 241, 255;
  --color-bg-step3: 249, 234, 255;
  --color-bg-step4: 247, 227, 255;
  --color-bg-end: 245, 220, 255; /* end background color (light purple) */
  --color-text: 15, 0, 15; /* text color */
}

/* Dark theme colors */
[data-theme="dark"] {
  --color-bg-start: 0, 0, 0;
  --color-bg-step1: 5, 0, 5;
  --color-bg-step2: 10, 0, 10;
  --color-bg-step3: 15, 0, 15;
  --color-bg-step4: 20, 0, 20;
  --color-bg-end: 25, 0, 25;
  --color-text: 247, 227, 255; /* white text color */
}

body {
  /* Use CSS variables for colors */
  color: rgb(var(--color-text));
  background: linear-gradient(
      -45deg,
      rgb(var(--color-bg-start)),
      rgb(var(--color-bg-step1)),
      rgb(var(--color-bg-step2)),
      rgb(var(--color-bg-step3)),
      rgb(var(--color-bg-step4)),
      rgb(var(--color-bg-end))
    );
  background-size: 400% 400%;
  /* Add -webkit-fill-available for full height on mobile Safari */
  min-height: -webkit-fill-available;
  /* Add animation */
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Use media queries for ultra-wide high resolution screens */
@media (min-width: 1920px) and (min-resolution: 300dpi) {
  body {
    /* Increase background size for ultra-wide high resolution screens */
    background-size: 800% 800%;
    /* Increase animation duration for ultra-wide high resolution screens */
    animation: gradient 60s ease infinite;
  }
}

/* Use media queries for small phones */
@media (max-width: 480px) {
  body {
    /* Reduce font size for small phones */
    font-size: 0.8rem;
  }
}

/* Use media queries for large screens */
@media (min-width: 1200px) {
  body {
    /* Increase font size for large screens */
    font-size: 1.2rem;
  }
}

/* Use media queries for ultra-wide high resolution screens */
@media (min-width: 1920px) and (min-resolution: 300dpi) {
  body {
    /* Increase background size for ultra-wide high resolution screens */
    background-size: 800% 800%;
    /* Increase animation duration for ultra-wide high resolution screens */
    animation: gradient 60s ease infinite;
  }
}
